*.classpath
*.project
*.class
ExampleCommon/.settings/
ExampleCommon/bin/
ExampleCommon/target/
ExampleServer/.settings/
ExampleServer/bin/
ExampleServer/target/
ExampleClient/.settings/
ExampleClient/bin/
ExampleClient/target/

